body, html {
    height: 100%;
}
  

img#apod {
    min-height: 100%;
    min-width: 1024px;
	
    width: 100%;
    height: auto;
	
    position: fixed;
    top: 0;
    left: 0;
}

img#nasa {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 30%;
    filter: drop-shadow(8px 8px 10px black);
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    position: absolute;

}

.textBox {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 30%;
    text-align: left;

   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.6);
   padding: 0% 1% 0% 2%
}


 